<br>
<br>
<br>
<br>
<br>

<div>
  <div class="row" *ngIf="loading">
    <div class="col s12 center">
      <mat-spinner style="margin-left: 47%;"></mat-spinner>
    </div>
  </div>
  <br>
  <div *ngIf="!loading" style="margin-bottom: 20px !important;">
    <div class="container center-align">
      <h1 style="font-size: 35px; color: #ffffff;">PELICULAS</h1>
      <div style="width: 100% !important;">

      <div style="width: 40% !important; float: left;">
      <h1  style="font-size: 20px; color: #e6acee;">Agregar nueva pelicula</h1>
      <button mat-fab color="primary" [routerLink]="['/movies/create/0']" aria-label="Agregar nueva pelicula">
        <mat-icon>movie</mat-icon>
      </button>
      </div>

      <div style="width: 40% !important; float: right;">
      <h1  style="font-size: 20px; color: #e6acee;">Categorias</h1>
      <button mat-fab color="primary" [routerLink]="['/category']">
        <mat-icon>category</mat-icon>
      </button>
      </div>
      </div>

      <br>
      <br>
    </div>

    <div class="row center" style='padding-top: 20px !important;'>
      <div class="col col s6 m4 l2">
        <button mat-raised-button (click)="catogoryFilter(0)" style="margin-bottom:20px; font-size: large; background-color: #e84545;" class="new badge"
          data-badge-caption="">Todas las peliculas</button>
      </div>
      <div *ngFor="let c of categories" class="col col s6 m4 l2">
        <button mat-raised-button (click)="catogoryFilter(c.id)" style="margin-bottom:20px; font-size: large; background-color: {{c.color}};" class="new badge"
          data-badge-caption="">{{c.name}}</button>
      </div>
    </div>
    <br>
    <div style="margin-left: 25px; margin-right: 25px;">
      <div class="row">
        <div class="col s6 m4 l2" *ngFor="let card of dataSource">
          <mat-card style="height: 450px; width: 180px;">

            <img mat-card-image src="{{card.node.poster}}">
            <mat-card-title>
              {{card.node.movieName}}
            </mat-card-title>
            <mat-card-subtitle>
              <span (click)="catogoryFilter(card.node.category.id)"
                style="background-color: {{card.node.category.color}};" class="new badge"
                data-badge-caption="">{{card.node.category.name}}</span>
            </mat-card-subtitle>
            <br>
            <mat-card-content class="overflow">
              <h5>{{card.node.description}}</h5>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="watchReviews(card.node.pk)">Reseña</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button *ngIf="isAdmin" mat-mini-fab color="accent" (click)="actualizar(card.node.pk)">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-card-actions>

          </mat-card>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>